<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <img src="https://i.pinimg.com/originals/fe/77/26/fe77263d6fa1ec9a262a186789d5a4e6.gif" alt="evil demon dog"/>
</body>
</html>